<?xml version="1.0" encoding="utf-8"?>

<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

<servlet>
   <servlet-name>companies</servlet-name>
   <servlet-class>servlets.Companies</servlet-class>
</servlet>

<servlet>
  <servlet-name>schedule</servlet-name>
  <servlet-class>servlets.Schedule</servlet-class>
</servlet>

<servlet>
   <servlet-name>cases</servlet-name>
   <servlet-class>servlets.Cases</servlet-class>
</servlet>

<servlet-mapping>
  <servlet-name>companies</servlet-name>
  <url-pattern>/companies</url-pattern>
</servlet-mapping>

<servlet-mapping>
  <servlet-name>schedule</servlet-name>
  <url-pattern>/schedule</url-pattern>
</servlet-mapping>

<servlet-mapping>
  <servlet-name>cases</servlet-name>
  <url-pattern>/cases</url-pattern>
</servlet-mapping>
</web-app>
